extends layout

block content
  a(id='signIn' href='/sign-in') Sign In
  span(id='split') |
  a(id ='signUp' href='/sign-up') Sign Up
  h1 Welcome to the Hotel List
  p Use the navigation above to begin
