extends layout

block content
  h1 Register

  fieldset
    legend Registration form
    form(method='POST' action='/sign-up')
      label Email
      input(type="text" name="email")
      br
      label Password
      input(type="text" name="password")
      br
      label Password Confirmation
      input(type="text" name="confirmPass")
      br
      input(type="submit" name="submit" value="Register")
