extends layout

block content
  h1 Albums

  table(border="1" class="table table-striped")
    thead
      tr
        td Genre
        td Artist
        td Album
    tbody
      for album in albums
        tr
          td= album.genre
          td= album.artist
          td: a(href="/albums/" + album._id class='clickMe')= album.albumName
  a(href="/albums/new")
    p New
